@model List<ChangeLogInfo>
@{
    ViewBag.Title = "Sop小秋时光轴—";
}
@section heads {
    <link href="~/assets/horizontal-timeline/css/style.css" rel="stylesheet" />
}

@section scripts {
   

    <script src="~/assets/horizontal-timeline/js/modernizr.js"></script>
    <script src="~/assets/horizontal-timeline/js/jquery.mobile.custom.min.js"></script>
    <script src="~/assets/horizontal-timeline/js/main.js"></script>

}

<section class="cd-horizontal-timeline">
    <div class="timeline">
        <div class="events-wrapper">
            <div class="events">
                <ol>
                    @foreach (var item in Model)
                    {
                        <li>
                            <a href="#" data-date="@item.DataDate.ToString("dd/MM/yyyy")"
                               class="@(item.Selected ? "selected" :"")">
                                @item.Id
                            </a>
                        </li>
                    }
                </ol>
                <span class="filling-line" aria-hidden="true"></span>
            </div>
        </div>

        <ul class="cd-timeline-navigation">
            <li><a href="#" class="prev inactive">Prev</a></li>
            <li><a href="#" class="next">Next</a></li>
        </ul>
    </div>
    <div class="events-content">
        <ol>

            @foreach (var item in Model)
            {
                <li data-date="@item.DataDate.ToString("dd/MM/yyyy")"
                    class="@(item.Selected ? "selected" :"")">
                    <h2>@item.Title</h2>
                    <em>@item.Summary</em>
                    <p>@item.Body</p>
                </li>
            }
        </ol>
    </div>
</section>
