@using System.Diagnostics
@using System.Web.UI.WebControls
@using ItemDoc.Services
@using Microsoft.AspNet.Identity
@using StackExchange.Profiling;

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="@ViewBag.Description">
    <meta name="author" content="">
    <title>@ViewBag.Title----最懂你的项目网</title>
    <link rel="icon" href="~/assets/images/favicon.png" type="image/png">

    <!-- @ItemDoc.Framework.Utility.WebUtility.GetIp() -->
    <!-- Bootstrap core CSS -->

    <link href="~/assets/bootstrap/css/bootstrap.css?v=11" rel="stylesheet" />
    <link href="~/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/assets/element-ui/index.css" rel="stylesheet" />
    <!--[if lt IE 9]>
       <script src="~/assets/html5shiv/html5shiv.min.js"></script>
       <script src="~/assets/respond.js/respond.min.js"></script>
    <![endif]-->


    @Styles.Render("~/assets/common-css")
    @RenderSection("heads", false)
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Itemdream", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div id="navbar" class="navbar-collapse collapse sop-man-nav">
                <ul class="nav navbar-nav">

                    <li><a href="@SiteUrls.Instance().HomeIndex()">主页</a></li>
                    <li><a href="@SiteUrls.Instance().ToolIndex()">工具</a></li>
                    <li><a href="@SiteUrls.Instance().ItemIndex()">项目</a></li>
                    <li class="dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@SiteUrls.Instance().ItemCrawler()">爬虫</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @{
                        var info = HttpContext.Current.GetOwinContext().Authentication;

                        if (info != null && info.User.Identity.IsAuthenticated)
                        {

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    @UserContext.GetUserLoginName()
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="@SiteUrls.Instance().AccountHome(info.User.Identity.GetUserName())">我的主页</a></li>
                                    <li><a href="@SiteUrls.Instance().AccountPost(info.User.Identity.GetUserName())">内容管理</a></li>

                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header">帮助</li>
                                    <li><a href="@SiteUrls.Instance().AccountSettings()">设置</a></li>
                                    <li><a href="@SiteUrls.Instance().AccountSignOut()">退出</a></li>
                                </ul>
                            </li>

                        }
                        else
                        {
                            <li><a href="@SiteUrls.Instance().AccountLogin()">登陆</a></li>
                            <li><a href="@SiteUrls.Instance().AccountRegister()">注册</a></li>
                        }


                    }

                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        @RenderPage("~/Views/Home/_Footer.cshtml")
    </div>
    <script src="~/assets/lib/jquery-1.10.2.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/vue/vue.min.js"></script>
    <!-- 引入组件库 -->
    <script src="~/assets/element-ui/index.js"></script>
    <script src="~/assets/axios/axios.min.js"></script>
    <script src="~/assets/lib/sopcce.com/main.js"></script>
    @Scripts.Render("~/assets/common-js")
    @RenderSection("scripts", false)
</body>
</html>