<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="@ViewBag.Description">
    <meta name="author" content="">
    <title>@ViewBag.Title----最懂你的项目网</title>
    <link rel="icon" href="~/assets/images/favicon.png" type="image/png">

    <!-- @ItemDoc.Framework.Utility.WebUtility.GetIp() -->
    <!-- Bootstrap core CSS -->

    <link href="~/assets/bootstrap/css/bootstrap.css?v=11" rel="stylesheet" />
    <link href="~/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/assets/element-ui/index.css" rel="stylesheet" />
    <!--[if lt IE 9]>
       <script src="~/assets/html5shiv/html5shiv.min.js"></script>
       <script src="~/assets/respond.js/respond.min.js"></script>
    <![endif]-->
    @Styles.Render("~/assets/common-css")
    @RenderSection("heads", false)
</head>
<body style="">

    @Html.Partial("_NavMenu")
    <div class="container body-content">
        @RenderBody()
        <hr />
        @RenderPage("~/Views/Home/_Footer.cshtml")
    </div>
    <script src="~/assets/lib/jquery-1.10.2.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/vue/vue.min.js"></script>
    <!-- 引入组件库 -->
    <script src="~/assets/element-ui/index.js"></script>
    <script src="~/assets/axios/axios.min.js"></script> 
    <script src="~/assets/sopcce.com/main.js"></script>
    @Scripts.Render("~/assets/common-js")
    @RenderSection("scripts", false)
</body>
</html>