
@model List<Sop.Core.Models.MenuInfo>

<ul class="nav nav-pills">

    @foreach (var info in Model)
    {
    <li class="nav-item">
        @if (info.UserMvcRoute)
        {
        <a class="nav-link @(info.IsActive ?"active": $"")" asp-action="@info.AspAction" asp-controller="@info.AspController" asp-area="@info.AspArea">
            @info.Name
        </a>
        }
        else
       {
        <a class="nav-link @(info.IsActive ?"active": $"")" href="@info.Url">  @info.Name</a>

      }
    </li>
    }
</ul>

