@page
@model Sop.FileUpload.Pages.DetailsModel


@using Sop.FileUpload
@using Sop.FileUpload.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Fileserver</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fileserver.ServerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fileserver.ServerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fileserver.ServerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fileserver.ServerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fileserver.ServerEnName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fileserver.ServerEnName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fileserver.ServerUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fileserver.ServerUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fileserver.RootPath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fileserver.RootPath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fileserver.VirtualPath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fileserver.VirtualPath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fileserver.DiskPath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fileserver.DiskPath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fileserver.MaxAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fileserver.MaxAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fileserver.CurAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fileserver.CurAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fileserver.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fileserver.Size)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fileserver.Enabled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fileserver.Enabled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fileserver.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fileserver.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fileserver.DisplayOrder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fileserver.DisplayOrder)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Fileserver.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
