@model List<ItemsInfo>
@{
    ViewBag.Title = "API文档 技术文档 数据字典 在线手册-最懂你的文档开源系统--";
    ViewBag.Description = "一个非常适合IT团队的在线API文档、技术文档工具。你可以使用Itemdoc来编写在线API文档、技术文档、数据字典、在线手册";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/assets/formvalidation/dist/css/formValidation.css" rel="stylesheet" />
<script src="~/assets/formvalidation/dist/js/formValidation.js"></script>
<script src="~/assets/formvalidation/dist/js/framework/bootstrap.min.js"></script>
<script src="~/assets/formvalidation/dist/js/language/zh_CN.js"></script>




<script type="text/javascript">
    $(function () {
        getEditHtml();
        $("#item-list")
            .on("mouseover",
                ".item-thumbnail",
                function() {
                    $(this).find(".item-setting").show();
                    $(this).find(".item-delete").show();
                })
            .on("mouseout",
                ".item-thumbnail",
                function() {
                    $(this).find(".item-setting").hide();
                    $(this).find(".item-delete").hide();
                })
            .on("mouseover",
                ".item-name",
                function () {
                    //debugger;
                    var id = $(this).data("id");
                    var description = $(this).data("description");
                    if (typeof (id) == 'undefined' ) {
                        return false;
                    }
                    layer.tips(description, '#'+id, {
                        tips: [3, '#3595CC'],
                        time: 2000
                    });
                }); 



        //点击项目设置图标时
        $(".item-setting").click(function () {
            var thisUrl = $(this).data("src");
            var id = $(this).data("id");
            console.log("item-setting:url_" + thisUrl + "|id_" + id);
            $.ajax({
                type: "get",
                url: thisUrl,
                data: {},
                success: function (data) {
                    $(".sop-category-edit-model").html(data);
                    $('.sop-modal-lg').modal('show');
                }
            });
            return false;
        });

        $(".item-delete").click(function () {
            var thisUrl = $(this).data("src");
            var id = $(this).data("id");
            console.log("item-delete:url_" + thisUrl + "|id_" + id);
            layer.confirm('确认删除吗？', {
                btn: ['确认', '取消'] //按钮
            }, function () {
                $.ajax({
                    type: "get",
                    url: thisUrl,
                    data: {},
                    success: function (data) {
                        console.log(data);
                        if (data.type == "@((int)SystemMessageType.Success)") {
                            layer.msg(data.content);
                            $(".item-" + id).hide();
                        }
                    }
                });


            }, function () {
                layer.msg('取消操作');
            });
            return false;

        });
        //添加
        $(".sop-modal-add").click(function (e) {
            e.preventDefault();
            getEditHtml();
            $('.sop-modal-lg').modal('show');

        });
    });
    function getEditHtml() {
        $.ajax({
            type: "get",
            url: "@SiteUrls.Instance().ItemItemsEdit()",
            async: true,
            success: function (data) {
                $(".sop-category-edit-model").html(data);
            }
        });

    }
</script>
<style>
    .thumbnails > li {
        float: left;
        margin-bottom: 20px;
        margin-left: 20px;
        width: 212px;
        text-align: center;
        list-style-type: none;
    }

    body {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .item-name p {
        margin: 40px 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .container-thumbnails {
        margin-top: 60px;
    }

    .thumbnails li a {
        color: #777;
        font-weight: bold;
        height: 100px;
        box-shadow: none;
        text-decoration: none;
    }

    .thumbnails li div:hover,
    .thumbnails li div:focus {
        border-color: #f2f5e9;
        -webkit-box-shadow: none;
        box-shadow: none;
        text-decoration: none;
        background-color: #f2f5e9;
    }

    .item-delete,
    .item-setting {
        float: right;
        margin-right: 10px;
        margin-top: 5px;
        display: none;
        cursor: pointer;
    }

    .sop-category-edit-model {
        margin-top: 170px;
    }
</style>

<div class="container">

    @Html.Partial("_CommonHead")
    <div class="container-thumbnails">
        <ul class="thumbnails" id="item-list">
            @foreach (var item in Model)
            {

            <li class="item-thumbnail item-@item.Id @(item.Enabled ? "" : "disabled" )">
                @if (item.Enabled)
                {
                    <div class="thumbnail " data-id="@item.Id" data-description="@item.Description">

                        <span class="item-setting" data-src="@SiteUrls.Instance().ItemItemsEdit(item.Id)" data-id="@item.Id" title="项目设置">
                            <i class="fa fa-cog"></i>设置
                        </span>
                        <span class="item-delete" data-src="@SiteUrls.Instance().ItemItemsDelete(item.Id)" data-id="@item.Id" title="项目删除">
                            <i class="fa fa-trash" aria-hidden="true"></i>删除
                        </span>
                        <a class="item-name" data-id="item-name-@item.Id" data-description="@item.Description" target="_blank" href="@SiteUrls.Instance().ItemItemsIndex(item.Id)">
                            <p class="" id="item-name-@item.Id">@item.Name</p>
                        </a>
                    </div>
                }
                else
                {
                    <div class="thumbnail " data-id="@item.Id" data-description="@item.Description">

                        <span class="item-setting" data-src="@SiteUrls.Instance().ItemItemsEdit(item.Id)" data-id="@item.Id" title="项目设置">
                            <i class="fa fa-cog"></i>设置
                        </span>
                        <span class="item-delete" data-src="@SiteUrls.Instance().ItemItemsDelete(item.Id)" data-id="@item.Id" title="项目删除">
                            <i class="fa fa-trash" aria-hidden="true"></i>删除
                        </span>
                        <a class="item-name" data-id="item-name-@item.Id" data-description="@item.Description" target="_blank" href="">
                            <p class="" id="item-name-@item.Id">@item.Name</p>
                        </a>
                    </div>
                }
            </li>
            }
            <li class="item-thumbnail">
                <div class="thumbnail sop-modal-add">
                    <a class="item-name" href="#" title="新建一个新的项目">
                        <p class="">
                            新建项目1&nbsp;<i class="icon-plus"></i>
                        </p>
                    </a>
                </div>

            </li>
        </ul>
    </div>
    <div class="modal fade sop-modal-lg" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog sop-category-edit-model">
            <!-- <div class="modal-content ">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body ">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>-->
        </div>
    </div>
</div>